{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h2>Dashboard</h2>
        <a class="btn btn-primary" href="{{ url_for('main.add_transaction') }}">Add Transaction</a>
        <table class="table mt-4">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.date.strftime('%Y-%m-%d') }}</td>
                    <td>{{ transaction.description }}</td>
                    <td>{{ transaction.amount }}</td>
                    <td>{{ transaction.category }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
