{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="jumbotron mt-4">
    <h1 class="display-4">Welcome to the Personal Finance Tool!</h1>
    <p class="lead">Manage your finances effectively with ease.</p>
    <hr class="my-4">
    <p>Get started by signing up or logging in.</p>
    <a class="btn btn-primary btn-lg" href="{{ url_for('main.register') }}" role="button">Sign Up</a>
    <a class="btn btn-secondary btn-lg" href="{{ url_for('main.login') }}" role="button">Login</a>
</div>
{% endblock %}
